.container{
    display: flex;
    width: 100%;
    height: 750px;
    outline: 2px solid black;
}
.Franja-horaria{
    display: flex;
    outline: 1px solid black;
    flex-direction: column-reverse;
}
.Hora{
    box-sizing: border-box;
    height: 200px;
    outline: 1px solid black;
    padding: 50px 20px 50px 20px;
}